.image {
    width:100%;
      height:100px;
      position:relative;
      opacity: 0.5;
      
  }
  
  img {
      -o-object-fit:cover;
      object-fit:cover;
      position:absolute;
      width:100%;
  }

  div.card {
    background-color:transparent !important;
    border: 1cm;

}

.button{
    
    margin-top: 20px;
    background-color: transparent !important;
    color:black;
    text-decoration: bold;

}